<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="{%  static 'users/wyglad/dolar.svg' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'users/css/style.css'%}">
</head>
<body>
    <div class="navbar">
    {% include 'mojetesty/navbar.html' %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    </div>

    {% block tresc %}
    {% endblock tresc %}
    
    <script src="{% static 'users/js/main.js' %}" type='text/javascript'></script>
    {% block page_scripts %}{% endblock %}
</body>
</html>