body {
  background: rgb(24, 24, 24);
  color: aliceblue;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* . */
/* Menu mobile nad computer */
.main-menu {
  width: 100%;
  margin: 0;
  padding-top: 1rem;
  background: var(--color-background);
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.nav-computer {
  flex: 1;
  background: var(--color-background);
  display: flex;
  justify-content: center;
}

.nav-mobile {
  display: none;
}

.main-menu-list {
  text-align: center;
  caret-color: transparent;
  padding: 2rem;
  font-size: 1.5rem;
}

/* . */
.main {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  border-top: 1px solid rgba(0, 255, 128, 0.664);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

a {
  color: rgb(206, 218, 218);
}

#wyniki2 {
  display: flex;
  text-align: center;
  align-items: center;
  background: rgb(32, 32, 32);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

#kolumna1,
#kolumna2,
#kolumna3,
#kolumna4,
#kolumna5,
#kolumna6 {
  flex: 1;
}

.chart {
  background: rgb(32, 32, 32);
}

hr {
  margin: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#suma_konwersji {
  display: flex;
  text-align: center;
  align-items: center;
  background: rgb(32, 32, 32);
  margin: 1rem;
  padding: 1rem;
}

pre {
  font-family: monospace;
  white-space: pre;
}

.mojtest {
  background-color: rgb(32, 32, 32);
  margin: auto;
  font-size: 1.3rem;
  width: 100%;
}

.mojtest th,
.mojtest td {
  padding: 1rem;
}

.tabela-w {
  display: grid;
  background: chocolate;
  margin: auto;
}

.tabela-wynikow {
  display: flex;
  margin: auto;
  padding: 1rem;
}

.tabela-wynikow * {
  padding: 1rem;
  flex: 1;
}

/* . */
/* Login */
.login {
  background: rgb(32, 32, 32);
  margin: auto;
  font-size: 1.3rem;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.login input {
  min-width: 300px;
}

.login-submit {
  margin-top: 2rem;
  background-color: rgb(6, 131, 68);
  color: white;
  padding: 1rem;
  cursor: pointer;
}

.login-submit:hover {
  background-color: rgb(8, 177, 93);
}

/* . */
/* Recap */
.recap {
  background: rgb(32, 32, 32);
  margin: auto;
  font-size: 1.3rem;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.recap-content {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0.5rem;
}

.recap-content-title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 0.5rem;
  padding-bottom: 1rem;
}

.recap-content-loop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 0.5rem;
}

/* . */
/* Results */
.results-ids {
  background: rgb(32, 32, 32);
  margin: auto;
  font-size: 1.3rem;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.results-id {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.results-id-form-value {
  padding: 1rem;
  font-size: 1.5rem;
  overflow-wrap: break-word;
  word-break: break-all;
}

.results-results-mobile {
  background: rgb(32, 32, 32);
  margin: auto;
  font-size: 1.3rem;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: none;
}

.results-result-mobile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.results-results {
  background: rgb(32, 32, 32);
  margin: auto;
  font-size: 1.3rem;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.results-result {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.result-conversions {
  background: rgb(32, 32, 32);
  margin: auto;
  font-size: 1.3rem;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.results-conversion {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.results-charts {
  background: rgb(32, 32, 32);
  margin: auto;
  font-size: 1.3rem;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.result-code {
  background: rgb(32, 32, 32);
  margin: auto;
  font-size: 1.3rem;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 5rem;
}

.code-script {
  background: rgb(32, 32, 32);
  padding: 1rem;
  text-align: left;
  font-size: 1rem;
}

.code-button {
  margin-top: 1rem;
  background-color: rgb(6, 131, 68);
  color: white;
  padding: 1rem;
  cursor: pointer;
  margin-bottom: 2rem;
}

.code-button:hover {
  background-color: rgb(8, 177, 93);
}

/* . */
/* Create new test */
.create-test {
  background: rgb(32, 32, 32);
  margin: auto;
  font-size: 1.3rem;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.create-test input {
  min-width: 300px;
}

.create-new-test-forms {
  display: grid;
  grid-template-columns: 1fr;
}

.new-test-form {
  display: flex;
}

.new-test-form * {
  flex: 1;
}

.new-test-form-title {
  text-align: right;
  padding: 1rem;
}

.new-test-form-input {
  text-align: left;
  padding: 1rem;
}

.new-test-form-submit {
  margin-top: 2rem;
  background-color: rgb(6, 131, 68);
  color: white;
  padding: 1rem;
  cursor: pointer;
}

.new-test-form-submit:hover {
  background-color: rgb(8, 177, 93);
}

/* . */
/* Update test */
.update-test {
  background: rgb(32, 32, 32);
  margin: auto;
  font-size: 1.3rem;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.update-test input {
  min-width: 300px;
}

.update-test-forms {
  display: grid;
  grid-template-columns: 1fr;
}

.update-form {
  display: flex;
}

.update-form * {
  flex: 1;
}

.update-form-title {
  text-align: right;
  padding: 1rem;
}

.update-form-input {
  text-align: left;
  padding: 1rem;
}

.update-form-submit {
  margin-top: 2rem;
  background-color: rgb(6, 131, 68);
  color: white;
  padding: 1rem;
  cursor: pointer;
}

.update-form-submit:hover {
  background-color: rgb(8, 177, 93);
}

/* . */
/* Delete test */
.delete-test {
  background: rgb(32, 32, 32);
  margin: auto;
  font-size: 1.3rem;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.delete-test-forms {
  display: grid;
  grid-template-columns: 1fr;
}

.delete-test input {
  min-width: 300px;
}

/* . */
/* Mobile device */
@media only screen and (max-width: 800px) {
  .main {
    margin-left: 5%;
    margin-right: 5%;
  }
  .main-menu {
    background: var(--color-background);
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
  }

  .body-overflow-active {
    overflow: hidden;
  }

  .main-menu-mobile {
    height: 100vh;
    justify-content: flex-start;
  }

  .nav-mobile {
    display: flex;
    padding-right: 2rem;
    padding-left: 2rem;
    width: 100%;
    justify-content: space-between;
  }

  .nav-computer {
    display: none;
  }

  .nav-computer-active {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: column;
    text-align: left;
  }

  .nav-bars {
    cursor: pointer;
    caret-color: transparent;
  }

  .nav-bars .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: rgb(201, 206, 206);
    display: block;
    cursor: pointer;
    caret-color: transparent;
  }

  #bar1 {
    width: 35px;
    margin-right: 10px;
  }

  #bar2 {
    width: 30px;
    margin-right: 10px;
  }

  #bar3 {
    width: 25px;
    margin-right: 10px;
  }

  #mobile-menu.mobile-is-active .bar:nth-child(2) {
    opacity: 0;
    width: 25px;
    margin-right: 25px;
  }

  #mobile-menu.mobile-is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    width: 25px;
    margin-right: 25px;
  }

  #mobile-menu.mobile-is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    width: 25px;
    margin-right: 25px;
  }

  /* . */
  /* Login */
  .login-submit {
    width: 50%;
  }

  /* . */
  /* Recap */
  .recap-content {
    grid-template-columns: 1fr;
  }

  .recap-content-title {
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid gray;
  }

  .recap-content-loop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 2rem;
    padding-top: 2rem;
    border-bottom: 1px solid gray;
  }

  .recap-content-loop * {
    padding: 0.5rem;
  }

  .recap-edit-links {
    display: none;
  }

  /* . */
  /* Results */

  .results-ids h1 {
    padding: 0.5rem;
  }

  .results-id {
    grid-template-columns: 1fr;
  }

  .results-id-form {
    border-bottom: 1px solid gray;
    padding-top: 1rem;
  }

  .results-results-mobile {
    display: block;
  }

  .results-result-mobile {
    grid-template-columns: 1fr;
  }

  .results-result-mobile-border {
    border-bottom: 1px solid rgb(230, 17, 17);
  }

  .results-results {
    display: none;
  }

  .results-conversion {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #conversion_sum {
    display: none;
  }

  .conversion_sum_br {
    padding-bottom: 2.6rem;
  }

  .code-script {
    font-size: 0.5rem;
  }

  /* . */
  /* Create new test */
  .create-test input {
    min-width: 0px;
  }

  .new-test-form {
    display: grid;
  }

  .new-test-form-title {
    text-align: center;
    padding-bottom: 0;
  }

  .new-test-form-input {
    text-align: center;
    padding-top: 0;
  }

  .new-test-form-submit {
    width: 50%;
  }

  /* . */
  /* Update test */

  .update-test input {
    min-width: 0px;
  }

  .update-test h1 {
    padding: 0.5rem;
  }

  .update-form {
    display: grid;
  }

  .update-form-title {
    text-align: center;
    padding-bottom: 0;
  }

  .update-form-input {
    text-align: center;
    padding-top: 0;
  }

  .update-form-submit {
    width: 50%;
  }

  /* . */
  /* Delete test */
  .delete-test input {
    min-width: 0px;
  }
}
